# Secrets
.streamlit/
__pycache__/
.devcontainer/
.vscode/

# temporaray login related
sign_up.py

# knowledge base
knowledge/
generate_vectorstore.py
generate_pinecone.py

# exclude chromadb index
db/