pandas
supabase
streamlit-authenticator==0.3.3
openai
langchain
langsmith
langchain_community
langchain_openai
# langchain-chroma==0.1.2
# chromadb
# google-colab
# pysqlite-binary
pinecone[grpc]
pinecone-client==5.0.1
langchain-pinecone==0.2.0
streamlit-calendar
audio-recorder-streamlit==0.0.10